body {
	background-color: #ffffff; 
	font-family: 'Work Sans', sans-serif;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0px;  
	height: 100%;

}

html {
	min-width: 100%;
	position: relative;
/*	font-size: 2vw;*/
	font-size: 16px;

}

:root {
	--color: #fa5812;
	--colorRGB: 250, 88, 18;
};

img {
	z-index: 10000;
}


/*Text Styles*/

.h1 {
	font-size: 2.5rem;
/*	font-size: 3vw;*/
	font-weight: 500;
	line-height: 1.75em;
}

.h2 {
	font-size: 1.5rem;
/*	font-size: 1.9vw;*/
	margin: .75em 0 .75em 0;
	font-weight: 500;
	line-height: 1.75em;
}


.h3 {
	font-size: 1rem;
/*	font-size: 1.25vw;*/
	margin: .75em 0 .75em 0;
	font-weight: 500;
	line-height: 1.75em;
	letter-spacing: .02em;
	display: inline-block;
	position: relative;

}

.h3::after {
  	content: "";
  	height: .25rem;
  	background: var(--color);
  	display: block;
  	width: 100%;
  	position: absolute;
  	bottom: .3rem;
  	z-index: -100;
  	opacity: .6;
}

.h3-2 {
	font-size: 1rem;
/*	font-size: 1.25vw;*/
	margin: .75em 0 .75em 0;
	font-weight: 500;
	line-height: 1.75em;
	letter-spacing: .02em;
	display: inline-block;
	position: relative;

}

.h4 {
	font-size: .7em;
	margin: .75em 0 .75em 0;
	font-weight: 400;
	line-height: 1em;
	letter-spacing: .02em;
}

.h4::after {
	display: none;
}


.bodytext {
	font-size: .9em;
	font-weight: 400;
	line-height: 2;

}

.bodytext-b {
	font-size: 1em;
	font-weight: 500;
	line-height: 2;

}

.bodytext-o {
	font-size: 1em;
	line-height: 2;
	opacity: .6;

}

.bodytext-h {
	font-size: 1.25em;
	line-height: 150%;
	color: #2B3F38;
	font-weight: 500;
}


#lefttext {
	text-align: left;
	margin-left: 0;


}


.minitext {
	font-size: .75em;
	line-height: 1.75em;
	opacity: .5;
}

.minitext-h {
	font-size: .75em;
	line-height: 1.75em;
	font-weight: 500;
	letter-spacing: .1em;
}

.subheader {
	font-size: 2.25em;
	line-height: 150%;
	color: #2B3F38;
	font-weight: 500;
	padding-bottom: 20px;
}


.home-project-misc {
	color: white;
	font-size: .875em;
	font-variant: small-caps;
	transition: opacity 1s;
	font-weight: 400;

}

.home-project-desc {
	color: white;
	font-size: 1.125em;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: .03em;
	opacity: 0;
	width: 80%;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2000;
/*    filter: drop-shadow(4px 4px 10px #474B51)*/
}

.highlight {
	background-color: rgba(var(--colorRGB), .2);
}


a:link {
	text-decoration: none;
	display: inline-block;
	position: relative;
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, var(--color) 50%, var(--color) 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, var(--color) 50%, var(--color) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s;
}

a::after {
  content: "";
  height: .15rem;
  background: var(--color);
  display: block;
  width: 100%;
  position: absolute;
  bottom: .3rem;
  z-index: -100;
  opacity: .8;
}

a:visited {
/*	color: #000000;*/
	text-decoration: none;
	display: inline-block;
	position: relative;
}

a:hover {
	background-position: left !important;
}

/*a:active {
	color: #A09ECA;
}
*/



.button {
	width: 200px;
	padding: 10px;
	border-radius: 300px;
	color: white;
	text-align: center;
	background: #FF8008; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FF8008 , #FFC837); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FF8008 , #FFC837); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: auto; 
	transition: .5s ease;
	border: none ;
}

.button:hover {
	transform: scale(1.05); 
}

/*Home Header Items*/

#header {
	margin: 0;
	padding: 1% 10% 5% 10%;
	position: relative;
	margin-top: 12%;

}


.menu {
	width: 100%;
	display: inline-block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 4% 10% 5% 10%;

}

.menu::after {
	display: none;
}


#navhome {
	height: 1.875em;
	padding-bottom: 0;
	cursor: pointer;
}

.navhome::after {
	display: none;
}

.navitem {
	position: relative;
	width: 5.5em;
	text-align: center;
	margin: 0 .5em 0 .5em;
	float: right;
}

.sidebar-r .navitem {
	text-align: right;
	width: 4em;
}


.navitem::after {
	display: none;
}


.navitem-name {
	color: var(--color);
}


.navitem .navitem-name::before {
	content: ' ';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);

}

.navitem:hover .navitem-name::before,
.navitem:focus .navitem-name::before {
	transform: scale3d(1,1,1);
	background: var(--color);


}

.navitem:hover .navitem-name {
	color: var(--color);
	transition: .3s;
}


#info {
	width: 45%;
	margin-top: -12%;
	animation: fadeInUp 1.5s;

}

/*Footer*/

.footer {
	height: 3.75em;
	padding: 10% 10% 5% 10%;
	bottom: 0;
	position: relative;
	display: block;

}

#contact {
	float: left;
}


#email {
	display: inline-block;
	margin-top: -.8em;
	padding-left: .625em;
	vertical-align: text-top;
}

#copyright {
	float: right;
	vertical-align: text-top;
	padding-top: 3px;
}



.contact-icon::after {
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}


a svg:hover .contact-icon {	
/*	contact icon hover!!*/
	fill: var(--color);
	transition: .3s;
	transform: scale3d(1,1,1);
}


.contact-icon:hover::after {
	transition: .3s;
	transform: scale3d(1,1,1);

}



/*Animation*/

#animation {
	width: 50%;
	left: 50%;
/*	margin-top: -3%;*/
	position: relative;
	animation: fadeInUp 1.5s;
}


.item {
	position: absolute;
}

#isoscreenglare {
	width: 27.25%;
	left: 50%;
	top: 50%;
	margin: -24.2% 0 0 -4.5%;
	opacity: 0.1;
	animation: floating 3s ease-in infinite;
	z-index: 500;
}

#isoilluscreen {
	width: 18%;
	top: 50%;
	left: 50%;
	margin: -18.5% 0 0 -1.5%;
	animation: floating 3s ease-in infinite;
}

#isosketchscreen {
	width: 18%;
	top: 50%;
	left: 50%;
	margin: -15% 0 0 1%;
	animation: floating 3s ease-in infinite, screenswap 7s ease-in-out infinite;
	z-index: 100;

}

#isolaptopscreen {
	width: 27.25%;
	left: 50%;
	top: 50%;
	margin: -24.2% 0 0 -4.5%;
	animation: floating 3s ease-in infinite;
	z-index: -900;
}

#isolaptop {
	width: 50%;
	top: 50%;
	left: 50%;
	margin: -25% 0 0 -25%;
	animation: floating 3s ease-in infinite;
	z-index: -1000;
}

#isocup {
	width: 10%;
	top: 50%;
	left: 50%;
	margin: -18% 0 0 -17.5%;
	animation: floating 2.5s ease-in infinite;
	animation-delay: -1s;
}

#steam {
	width: 2%;
	top: 50%;
	left: 50%;
	margin: -23% 0 0 -13.5%;
	z-index: 100;
	stroke-dasharray: 10;
	stroke-dashoffset: 10;
	animation: steamcurl 2s ease-out forwards infinite, floating 2.5s ease-in infinite;
	animation-delay: 0s, -1s;

}


#isobook {
	width: 18%;
	top: 50%;
	left: 50%;
	margin: -7.5% 0 0 -35%;
	animation: floating 3s ease-in infinite;
	animation-delay: -1.5s;
}

#isoplate {
	width: 19%;
	top: 50%;
	left: 50%;
	margin: 21% 0 0 13.5%;
	animation: floating 3s ease-in infinite;
	animation-delay: -1s;
}

#isopen {
	width: 2.2%;
	top: 50%;
	left: 50%;
	margin: -3% 0 0 27%;
	animation: floating 3s ease-in infinite;
	animation-delay: -1s;
}

#isopencap {
	width: 2.3%;
	top: 50%;
	left: 50%;
	margin: -10% 0 0 26.8%;
	animation: floatingpencap 3s ease-in infinite;
}

#isophonescreen {
	width: 9.2%;
	top: 50%;
	left: 50%;
	margin: -1.87% 0 0 31.9%;
	z-index: 10000000;
	animation: floating 3s ease-in infinite, screenflash 7s ease-out infinite;
	animation-delay: -2s;

}

#isophone {
	width: 10%;
	top: 50%;
	left: 50%;
	margin: -4% 0 0 32%;
	animation: floating 3s ease-in infinite;
	animation-delay: -2s;
}

/*Oranges*/


#isorange1 {
	width: 4%;
	top: 50%;
	left: 50%; 
	margin: 16% 0 0 26%;
	animation: floating 3s ease-in infinite;
	animation-direction: reverse;
	z-index: 10000000;

}

#isorange2 {
	width: 4%;
	top: 50%;
	left: 50%;
	margin: 20% 0 0 25%;
	z-index: 20000000;
	animation: wiggleb 5s linear infinite;
}

#isorange3 {
	width: 3%;
	top: 50%;
	left: 50%;
	margin: 14% 0 0 23%;
	z-index: 10000000;
	animation: floating 2s linear infinite;
}

#isorange4{
	width: 6%;
	top: 50%;
	left: 50%;
	margin: 22% 0 0 19%;
	z-index: 11000000;
	animation: floating 3s linear infinite;

}

#isorange5 {
	width: 5%;
	top: 50%;
	left: 50%;
	margin: 20% 0 0 16.5%;
	z-index: 9000000;
	animation: wigglea 5s linear infinite;
}

#isorange6 {
	width: 6.5%;
	top: 50%;
	left: 50%;
	margin: 16.5% 0 0 16%;
	z-index: 8000000;
	animation: wigglea 4s infinite;
	animation-direction: reverse;
}


/*Projects*/

#projects {
	padding: 5% 10% 5% 10%;
	animation: fadeInUp 1.5s;
}

#projects a {
	position: relative;
	width: 100%;
}

/*#projects-fun {
	padding: 3% 10% 5% 10%;
	animation: fadeInUp 1.5s;

}*/

.column-left {
	width: 46%;
	float: left;
	height: 25rem;
	display: inline-block;
	cursor: pointer;
}

.column-right {
	width: 46%;
	float: right;
	height: 25rem;
	display: inline-block;
	cursor: pointer;

}

.home-project-text {
	position: absolute;
	padding: 5% 10% 5% 10%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
}

.home-img {
	width: 100%;
	height: 18.75rem;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

}


.proj-home:hover .home-img {
	filter: drop-shadow(4px 4px 10px #e6e6e6);
	transition: .5s;
	transform: scale(1.01);

}

.proj-home::after {
	display: none;
}





/*Project- Fulldive*/

#fulldive {
	height: 100%;
}

#fulldive.column-left {
	margin-top: 8%;

}



#fulldive-overlaybg {
	background: #00173D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #80D6E3 , #5CA2C7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #80D6E3, #5CA2C7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0;
	z-index: 1000;
	height: 100%;

}

#fulldive-home-img {
	background-image: url(../img/fulldive_home.svg);
	position: relative;
	height: 31.250em;
}

#fulldive:hover #fulldive-text {
	transition: .5s;
	opacity: 1;

}

#fulldive-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%,#000000 50%, #5CA2C7 50%, #80D6E3 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #5CA2C7 50%, #80D6E3 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}


#fulldive:hover #fulldive-title {
    background-position: left;

}


#fulldive:hover #fulldive-overlaybg {
	opacity: .85;
	transition: opacity .2s;
}

/*Project- FulldiveMobile*/

#fulldivemobile {
	height: 100%;
}

#fulldivemobile.column-right {
	margin-top: 15%;
}



#fulldivemobile-overlaybg {
	background: #00173D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #80D6E3 , #5CA2C7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #80D6E3, #5CA2C7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0;
	z-index: 1000;
	height: 100%;

}

#fulldivemobile-home-img {
	background-image: url(../img/fulldivemobile_home.png);
	position: relative;
	height: 500px;
}

#fulldivemobile:hover #fulldivemobile-text {
	transition: .5s;
	opacity: 1;

}

#fulldivemobile-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, #5CA2C7 50%, #80D6E3 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #5CA2C7 50%, #80D6E3 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}


#fulldivemobile:hover #fulldivemobile-title {
    background-position: left;

}


#fulldivemobile:hover #fulldivemobile-overlaybg {
	opacity: .8;
	transition: opacity .2s;
}


/*Project- FulldiveSaves*/

#fulldivesaves {
	height: 100%;
/*	margin-top: 150px;*/
}


#fulldivesaves-overlaybg {
	background: #00173D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #80D6E3 , #5CA2C7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #80D6E3, #5CA2C7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	opacity: 0;
	z-index: 1000;
	height: 100%;

}

#fulldivesaves-home-img {
	background-image: url(../img/fdsaves-hero.png);
	position: relative;
	height: 31.250em;
}

#fulldivesaves:hover #fulldivesaves-text {
	transition: .5s;
	opacity: 1;

}

#fulldivesaves-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, #5CA2C7 50%, #80D6E3 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #5CA2C7 50%, #80D6E3 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}


#fulldivesaves:hover #fulldivesaves-title {
    background-position: left;

}



#fulldivesaves:hover #fulldivesaves-overlaybg {
	opacity: .8;
	transition: opacity .2s;
}


/*Project- WingIt*/

#wingit {
	height: 100%;
}

#wingit.column-right {
	margin-top: 8%;
}

#wingit-overlaybg {
	height: 100%;
	opacity: 0;
	background: #E8CBC0; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #E8CBC0 , #636FA4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #E8CBC0 , #636FA4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 1000;

}


#wingit-home-img {
	background-image: url(../img/wingit_home.png);
	position: relative;
	height: 31.250em;
	width: 100%;
}

#wingit:hover #wingit-text {
	transition: .5s;
	opacity: 1;

}

#wingit-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, #E8CBC0 50%, #636FA4 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #E8CBC0 50%, #636FA4 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .2s;
}

#wingit:hover #wingit-title {
    background-position: left;

}

#wingit:hover #wingit-overlaybg {
	opacity: .8;
	transition: opacity .2s;
}



/*Fun- HKCafe*/


#hkcafe {
	height: 100%;
}


#hkcafe-overlaybg {
	height: 100%;
	opacity: 0;
	background: #1e3c72; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 1000;       
        
}


#hkcafe-home-img {
	background-image: url(../img/hkcafe_home.jpg);
	position: relative;
	height: 31.250em;
}



#hkcafe:hover #hkcafe-text {
	transition: .5s;
	opacity: 1;

}

#hkcafe-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, #1e3c72 50%, #2a5298 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #1e3c72 50%, #2a5298 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}


#hkcafe:hover #hkcafe-title {
    background-position: left;

}



#hkcafe:hover #hkcafe-overlaybg {
	opacity: .8;
	transition: opacity .2s;
}



#hkcafe-overlay {
	height: 100%;
	position: relative;
}




/*Fun- TAUG*/

#taug {
/*	background-image: url(../img/taug_home.jpg);*/
	height: 100%;
}

#taug.column-left {
	margin-top: 8%;
}

#taug-overlay {
	height: 100%;
	position: relative;
}

#taug-overlaybg {
	height: 100%;
	opacity: 0;
	background: #4CA1AF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           
}

#taug-home-img {
	background-image: url(../img/taug_home.jpg);
	position: relative;
	height: 31.250em;

}



#taug:hover #taug-text {
	transition: .5s;
	opacity: 1;

}

#taug-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, #4CA1AF 50%, #C4E0E5 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #4CA1AF 50%, #C4E0E5 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}


#taug:hover #taug-title {
    background-position: left;

}



#taug:hover #taug-overlaybg {
	opacity: .8;
	transition: opacity .2s;
}




/*Fun- Lasercut*/

#lasercut {
/*	background-image: url(../img/lasercut-home.jpg);*/
	height: 100%;

}

#lasercut.column-right {
	margin-top: 25%;
}

#lasercut-overlay {
	height: 100%;
	position: relative;
}

#lasercut-overlaybg {
	height: 100%;
	opacity: 0;
	background: #f85032; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f85032 , #e73827); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #f85032 , #e73827); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            

}

#lasercut-home-img {
	background-image: url(../img/lasercut-home.jpg);
	position: relative;
	height: 31.250em;

}



#lasercut:hover #lasercut-text {
	transition: .5s;
	opacity: 1;

}

#lasercut-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, #f85032 50%,  #e73827 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #f85032 50%, #e73827 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}


#lasercut:hover #lasercut-title {
    background-position: left;

}



#lasercut:hover #lasercut-overlaybg {
	opacity: .8;
	transition: opacity .2s;
}



#lasercut-overlay {
	height: 100%;
	position: relative;
}

/*Fun- Color Museum*/


#colormuseum {
/*	background-image: url(../img/taug_home.jpg);*/
	height: 100%;
}

#colormuseum.column-right {
	margin-top: 8%;
}

#colormuseum-overlay {
	height: 100%;
	position: relative;
}

#colormuseum-overlaybg {
	height: 100%;
	opacity: 0;
	background: #4CA1AF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
           
}

#colormuseum-home-img {
	background-image: url(../img/taug_home.jpg);
	position: relative;
	height: 31.250em;

}



#colormuseum:hover #colormuseum-text {
	transition: .5s;
	opacity: 1;

}

#colormuseum-title {
	background-size: auto 200%;
	background-position: right;
	background-image: -webkit-linear-gradient(to left, #000000 0%, #000000 50%, #4CA1AF 50%, #C4E0E5 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: linear-gradient(to left, #000000 0%, #000000 50%, #4CA1AF 50%, #C4E0E5 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}


#colormuseum:hover #colormuseum-title {
    background-position: left;

}



#colormuseum:hover #colormuseum-overlaybg {
	opacity: .8;
	transition: opacity .2s;
}


/*Project Pages*/

.project-header {
	margin: 0;
	width: 100%;
	position: relative;
}

.writeup-img {
	width: 100%;
	margin: 0;
	position: relative;
	cursor: pointer;
	animation: fadeInUp 1.5s;

}


.project-writeup {
	position: relative;
	width: 50%;
	padding: 0% 25% 0% 25%;
	margin: 0;
	animation: fadeInUp 1.5s;
}

.sidebar-l {
	position: fixed;
	width: 13%;
	left: 10%;
	float: left;
	bottom: 10%;
	z-index: 300;
	display: none;

}

.sidebar-r {
	position: fixed;
	width: 13%;
	top: 10%;
	right: 10%;
	float: right;
	z-index: 100;
	text-align: right;
	display: none;
}

/*.project-left {
	display: inline-block;
	width: 10%;
	position: absolute;
	padding-top: 1%;
}*/
/*
.project-nav {
	position: fixed;
	bottom: 10%;
	maybe when it hits the scroll it turns into a fixed pos 
	display: inline-block;
	width: 10%;
	padding-top: 1%;
	left: 90%;
	z-index: 10000;
}*/

/*#project-nav-top {
	cursor: pointer;
	position: fixed;
	width: 10%;
	padding-top: 5%;

}*/


/*#project-nav-top:hover {
	color: var(--color);
	transition: .3s;
}*/

.project-right {
	width: 80%;
	margin: 0% 0% 5% 20%;
	animation: fadeInUp 1.5s;
}

.writeup-section {
	margin-bottom: 100px;
}




.noscroll {
	overflow: hidden;
}

#img-overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    overflow-x: hidden;
	background-color: rgba(255, 255, 255, .95);
}

#img-overlaid {
	margin: auto;
	display: block;
	width: 95%;
	padding-top: 2.5%;
/*	padding: 5%;*/
}

.close {
    position: fixed;
    top: 15px;
    right: 35px;
/*    color: #90B224;*/
    font-size: 40px;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
}


.writeup-subsection {
	margin-top: 1.875rem;
	border-left: 3px solid;
	padding-left: 4%;
}


.persona-img {
	width: 100px;
	height: 100px;	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 3px;
}

.project-next {
/*	width: 100%;*/
	padding: 0% 10% 0% 10%;
}

.column-left-next {
	width: 50%;
	float: left;
	height: 250px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}

.column-right-next {
	width: 50%;
	float: right;
	height: 250px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	cursor: pointer;

}

/*Project Page - Fulldive*/

#fulldive-hero {
	background-image: url(../img/fulldive_home.png);

}



/*Project Page - WingIt*/

#wingit-hero {
	background-image: url(../img/wingit_header.jpg);

}

#persona-img-wingit1 {
	background-image: url(../img/wingit-persona-grace.png);
}

#persona-img-wingit2 {
	background-image: url(../img/wingit-persona-molly.png);
}

#persona-img-wingit3 {
	background-image: url(../img/wingit-persona-alex.png);
}

#wingit-marvel {
	width: 100%;
}


#wingit-animate-1 {
	margin-left: 30%;
	width: 40%;

}

#wingit-animate-2 {
	margin-left: 30%;
	width: 40%;

}

/*Project Page - Track & Slash*/

#trackslash-hero {
	background-image: url(../img/trackslash_hero.jpg);

}


#persona-img-trackslash1 {
	background-image: url(../img/trackslash-persona-thomas.jpg);
}

#persona-img-trackslash2 {
	background-image: url(../img/trackslash-persona-amy.jpg);
}

#persona-img-trackslash3 {
	background-image: url(../img/trackslash-persona-bobby.jpg);
}

#trackslash-animate-1 {
	width: 40%;
	margin-left: 30%;

}

#trackslash-animate-2 {
	width: 40%;
	margin-left: 30%;

}

/*Project Page - Twinkle*/

#twinkle-hero {
	background-image: url(../img/twinkle_hero.jpg);

}

/*Project Page - Beyond Smartphones*/

#beyondsmartphones-hero {
	background-image: url(../img/beyondsmartphones_home.jpg);

}


/*Project Page - Dayrise*/

#dayrise-hero {
	background-image: url(../img/dayrise-hero.jpg);

}

/*Project Page - Joybook*/

#joybook-hero {
	background-image: url(../img/joybook_hero.jpg);

}

/*About*/

.about-writeup {
	width: 100%;
	margin: 0;
	padding: 5% 0% 5% 0%;
	display: inline-block;

}

.about-right {
	width: 30%;
	animation: fadeInUp 1.5s;
	margin-top: -50px;
	margin-left: 45%;


}

.about-left {
	margin-top: 10%;
	margin-left: 22%;
	float: left;

}

#about-img {
	width: 170px;
	height: 170px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 3px;
	background-image: url(../img/about-img.jpg);
	margin-bottom: 20%;

}

#button-resume {
	padding: 10px;
	border: 1px solid;
	border-radius: 3px;
}


#button-resume:hover {
	color: #476E61;
	transition: .3s;

}


/*Animation Classes*/
.cutierotate {
	animation-name: cutierotate;
	-webkit-animation-name: cutierotate;
}




/*Animations*/

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(5px);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(5px);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

@keyframes floatingpencap {
	0% {
		transform: translateY(0px);	
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateY(15px);	
	}	
	100% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}			
}

@-webkit-keyframes floatingpencap {
	0% {
		-webkit-transform: translateY(0%);	
		animation-timing-function: ease-in;
	}
	50% {
		-webkit-transform: translateY(15px);	
	}	
	100% {
		-webkit-transform: translateY(0%);
		animation-timing-function: ease-out;
	}			
}

@keyframes wigglea {
	0% {
		transform: rotate(0deg) translateY(0%);	
	}

	25% {
		transform: rotate(-5deg) translateY(-5px);
	}
	50% {
		transform: rotate(0deg) translateY(0%);	
	}	

	75% {
		transform: rotate(5deg) translateY(-5px);
	}

	100% {
		transform: rotate(0deg) translateY(0%);
	}			
}

@-webkit-keyframes wigglea {
	0% {
		transform: rotate(0deg) translateY(0%);	
	}

	25% {
		transform: rotate(-5deg) translateY(-5px);
	}
	50% {
		transform: rotate(0deg) translateY(0%);	
	}	

	75% {
		transform: rotate(5deg) translateY(-5px);
	}
	100% {
		transform: rotate(0deg) translateY(0%);
	}			
}

@keyframes wiggleb {
	0% {
		transform: rotate(0deg) translateY(0%);	
	}

	25% {
		transform: rotate(-5deg) translateY(5px);
	}

	50% {
		transform: rotate(0deg) translateY(0%);	
	}	

	75% {
		transform: rotate(-5deg) translateY(5px);
	}
	100% {
		transform: rotate(0deg) translateY(0%);
	}			
}

@-webkit-keyframes wiggleb {
	0% {
		transform: rotate(0deg) translateY(0%);	
	}

	25% {
		transform: rotate(-5deg) translateY(5px);
	}

	50% {
		transform: rotate(0deg) translateY(0px);	
	}	

	75% {
		transform: rotate(-5deg)  translateY(5px);
	}
	100% {
		transform: rotate(0deg) translateY(0%);
	}			
}


@keyframes cutierotate {
	0% {
		transform: rotate(360deg);
		animation-timing-function: ease-out;
	}
	
	100% {
		transform: rotate(-360deg);
		animation-timing-function: ease-out;
	}			
}

@-webkit-keyframes cutierotate {
	0% {
		transform: rotate(360deg);
		animation-timing-function: ease-out;
	}

	100% {
		transform: rotate(-360deg);
		animation-timing-function: ease-out;	
	}
			
}

@keyframes wiggling {
	0% {
		transform: rotate(0deg) translateY(0px);
		animation-timing-function: ease-in-out;
	}

	50% {
		transform: rotate(5deg);
		animation-timing-function: ease-in-out;
	}


	90% {
		transform: rotate(8deg) translateY(4px);
		animation-timing-function: ease-in-out;
	}

	95% {
		transform: rotate(5deg);
		animation-timing-function: ease-in-out;
	}

	100% {
		transform: rotate(0deg) translateY(0px);
		animation-timing-function: ease-out;
	}
}

@-webkit-keyframes wiggling {
	0% {
		transform: rotate(0deg) translateY(0px);
		animation-timing-function: ease-in-out;
	}

	50% {
		transform: rotate(5deg);
		animation-timing-function: ease-in-out;
	}


	90% {
		transform: rotate(8deg) translateY(4px);
		animation-timing-function: ease-in-out;
	}

	95% {
		transform: rotate(5deg);
		animation-timing-function: ease-in-out;
	}

	100% {
		transform: rotate(0deg) translateY(0px);
		animation-timing-function: ease-out;
	}
}

@keyframes steamcurl {

    to {
    	stroke-dashoffset: 0;
    	opacity: 0;
    }

	}

@-webkit-keyframes steamcurl {

    to {
    	stroke-dashoffset: 0;
    	opacity: 0;
    }

	}

@keyframes screenflash {

	0% { 
		opacity: 0;

	}

	5% {
		opacity: 1;
	}

	80% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	85% {
		opacity: 0;
		animation-timing-function: ease-in;
	}

	100% {
		opacity: 0;
		animation-timing-function: ease-out;
	}
	}

@-webkit-keyframes screenflash {

	0% { 
		opacity: 0;

	}

	5% {
		opacity: 1;
	}

	80% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	85% {
		opacity: 0;
		animation-timing-function: ease-in;
	}

	100% {
		opacity: 0;
		animation-timing-function: ease-out;
	}
}

@keyframes screenswap {

	to {
		z-index: -100;
		animation-timing-function: ease-in-out;
	}
}

@-webkit-keyframes screenswap {

	to {
		z-index: -100;
		animation-timing-function: ease-in-out;
	}
}


/*Thanks Daniel Eden at Animate.css*/
@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

/*Responsive*/

@media screen and (max-width: 360px) {

.navitem {
	padding-left: 30px;
	padding-top: 8%;

}

.project-title {
	font-size: 40px;
}


.project-writeup {
	padding: 0% 2.5% 0% 2.5%;
	width: 95%;

}



}



@media screen and (max-width: 600px) {



.footer {
	padding-right: 50%;
}


#copyright {
	float: left;

}

#email {
	margin-top: 0;
	padding-left: 0;
	vertical-align: text-top;
	display: block;
}

.column-left {
	height: 250px;

}

.column-right {
	height: 250px;
}


.sidebar-r {
	left: -100%;
}



/*About Page*/

.about-writeup {
	margin-left: -5%;

}


@keyframes floatingpencap {
	0% {
		transform: translateY(0px);	
		animation-timing-function: ease-in;
	}
	50% {
		transform: translateY(10px);	
	}	
	100% {
		transform: translateY(0px);
		animation-timing-function: ease-out;
	}			
}

@-webkit-keyframes floatingpencap {
	0% {
		-webkit-transform: translateY(0%);	
		animation-timing-function: ease-in;
	}
	50% {
		-webkit-transform: translateY(10px);	
	}	
	100% {
		-webkit-transform: translateY(0%);
		animation-timing-function: ease-out;
	}			
}
}



@media screen and (max-width: 990px) {

#menu {
	margin-bottom: 10%;
	margin-top: 5%;
}

#info {
	width: 100%;
	margin-top: 35%;
	position: relative;

}

#animation {
	width: 80%;
	left: 5%;
	position: relative;

}


.column-right {
	width: 100%;
}

.column-left {
	width: 100%;
}

.column-right-next {
	width: 100%;
	height: 125px;
}

#fulldivemobile.column-right {
	margin-top: 8%;
}


.column-left-next {
	width: 100%;
	height: 125px;
}

.project-next {
	margin-bottom: 10%;
}

.project-writeup {
	padding: 0% 15% 0% 15%;
	width: 70%;

}

.sidebar-l {
	left: -100%;

}

.sidebar-r {
	right: 5%;
}




/*About Page*/




.about-right {
	width: 55%;
	margin-left: 20%;
	clear: left;

}

.about-left {
	margin: 5% 0% 5% 20%;

}


#button-resume {
	float: left;
	margin-bottom: 10%;
	position: relative;

}

.project-right {
	width: 100%;
	margin: 0% 0% 0% 0%;
}

.project-left {
	display: none;
}

.project-nav {
	margin-left: -100%;
}

.writeup-img {
	cursor: auto;
}


}

/*Clearfix*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

